body {
	font-family: 'Stylish'
	,roboto
	
}
 
h6,
h5,
h4,
h3,
h2,
h1, {font-family: RubikMono One', sans-serif
font-weight:600;

}
img {width:165px}

.navbar-brand img {width:165px}
#footer {background-color:lightblue;}

#lowerfooter {background-color:red;color:#fff }
#lowerfooter i {font-size:70px;color:#fff; margin:16px 18px 8px 15px}